*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #336B87;
}

.container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

@font-face {
    font-family: digital;
    src: url(./font/digital-7.ttf);
}

p{
    font-size: 18px;
    font-family: digital;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

input{
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    border-radius: 2px;
    font-size: 18px;
    font-family: digital;
}

button{
    border: none;
    font-family: digital;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    transition: none;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
}

button:hover{
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.result{
    background-color: #2A3132;
    color: white;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 45px;
    font-family: digital;
    margin: auto;
    margin-top: 30px;
    width: 100%;
}

h1{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: digital;
    padding-top: 20px;
    padding-bottom: 30px;
}

footer{
    background-color: #2A3132;
    color: white;
    font-size: 30px;
    font-family: digital;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}