*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 75%;
    margin: auto;
}

.header{
    width: 100%;
    background-image: url(./img/newyork.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-items{
    padding-top: 50px;
    padding-bottom: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo{
    background-image: url(./img/paper-plane.png);
    background-size: 100%;
    width: 35px;
    height: 30px;
}

.logo > h1{
    color: white;
    font-family: Beon;
    padding-left: 40px;
}

.menu{
    padding-left: 40px;
}

.menu > ul{
    display: flex;
    justify-content: space-between;
}

.menu > ul > li{
    float: left;
    list-style-type: none;
}

.menu > ul > li > a{
    color: white;
    text-decoration: none;
    font-family: Arial;
    transition: .5s;
}

.menu > ul > li > a:hover{
    color: slategrey;
}

.home{
    width: 100%;
    padding-bottom: 20%;
    display: flex;
    justify-content: center;
}

@import url(//db.onlinewebfonts.com/c/af1f9cf6d51df55b85e1b496776585c4?family=Brandon+Grotesque+Regular);

@font-face {font-family: "Brandon Grotesque Regular";
    src: url("//db.onlinewebfonts.com/t/af1f9cf6d51df55b85e1b496776585c4.eot");
    src: url("//db.onlinewebfonts.com/t/af1f9cf6d51df55b85e1b496776585c4.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/af1f9cf6d51df55b85e1b496776585c4.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/af1f9cf6d51df55b85e1b496776585c4.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/af1f9cf6d51df55b85e1b496776585c4.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/af1f9cf6d51df55b85e1b496776585c4.svg#Brandon Grotesque Regular") format("svg");
    font-family: grotes;
}
.home-items{
    color: white;
    font-family: grotes;
    text-align: center;
}

.home-items > p{
    font-size: 23px;
    opacity: 0.8;
}

.home-items > h2{
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 7%;
}

.learn_more-button{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: white solid 1px;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    color: white;
}

.animation{
    width: 100%;
    height: 0px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .5s;
    opacity: 0.2;
}

.learn_more-button:hover .animation{
    height: 100%;
}

.services{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.service-item{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.service-item_img{
    background-repeat: no-repeat;
    background-position: center center;
}

.service-item_text{
    font-family: grotes;
}

.service-item_text > h2{
    font-weight: lighter;
    font-size: 60px;
    padding-bottom: 3%;
}

.identity_branding{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: #fafafa;
}

.identity_branding-item_img{
    background-position: center center;
    background-repeat: no-repeat;
}

.identity_branding-item{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: grotes;
}

.identity_branding-item_text > h2{
    font-weight: lighter;
    font-size: 60px;
}

.skills{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skill-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 5%;
}

.skill-item_img{
    background-repeat: no-repeat;
    background-position: center center;
}

.skill-item_text{
    font-family: grotes;
}

.service-item_text > h2{
    font-size: 22px;
    padding-bottom: 1%;
}

.clients{
    width: 100%;
    background-color: #fafafa;
    padding-top: 8%;
}

.client-items{
    width: 100%;
    font-family: grotes;
}

.client-items > h2{
    text-align: center;
    font-weight: lighter;
    font-size: 60px;
}

.client-items > p{
    font-size: 21px;
    color: #777777;
    text-align: center;
    padding-bottom: 5%;
}

.client-review{
    display: flex;
    justify-content: space-between;
}

.client-img{
    width: 220px;
    height: 220px;
    background-color: black;
    border-radius: 100%;
}

.client-txt{
    width: 50%;
    background-color: white;
    border: lightgray solid 1px;
    height: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 2%;
    margin-right: 10%;
}

.client-review{
    padding-bottom: 5%;
}

.logos{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.logos-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
}

.team{
    width: 100%;
    background-color: black;
    color: white;
    font-family: grotes;
    padding-top: 7%;
}

.team-items > h2{
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
}

.team-items > p{
    font-size: 22px;
    text-align: center;
    color: #777777;
    padding-bottom: 5%;
}

.team-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}

.circle{
    width: 235px;
    height: 240px;
    border: white solid 5px;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 3%;
}

.icon{
    float: left;
    margin-left: 30%;
}

.teamates{
    padding-bottom: 15%;
}

.teamates > h2{
    text-align: center;
    font-size: 18px;
}

.teamates > p{
    text-align: center;
    font-size: 16px;
    padding-bottom: 2%;
}

h3{
    font-size: 20px;
    color: #ebebeb;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 10%;
}

blockquote{
    font-size: 20px;
    color: #777777;
    text-align: center;
}

footer{
    color: #7690c5;
    font-size: 16px;
}

.footer{
    background-color: #7690c5;
    padding-top: 5%;
    border-bottom: #87a0d2 solid 1px;
}

.footer-items{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-family: grotes;
}

.footer-item > h2{
    font-weight: lighter;
    color: white;
    font-size: 60px;
    padding-bottom: 5%;
}

.footer-item > p{
    color: white;
    font-size: 18px;
    padding-bottom: 10%;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contact-item{
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 35px;
}

.contact-item{
    color: white;
    font-family: grotes;
    font-size: 18px;
    margin-bottom: 3%;
}

input{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 5%;
}

textarea{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 5%;
}

.copyright{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: grotes;
    background-color: #7690c5;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media only screen and (max-width: 800px) {

    .menu{
        display: none;
    }

    .logo{
        width: 24px;
        height: 20px;
    }

    .logo > h1{
        color: white;
        font-family: Beon;
        padding-left: 32px;
        font-size: 14px;
    }

    .navbar-items{
        padding-top: 18px;
        padding-bottom: 8%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .home-items > p {
        font-size: 9px;
        opacity: 0.8;
    }

    .home-items > h2 {
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 7%;
    }

    .learn_more-button {
        width: 38%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 4px;
        padding-right: 4px;
        border: white solid 1px;
        margin: auto;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        color: white;
        font-size: 13px;
    }

    .service-item_text > h2 {
        font-size: 16px;
        padding-bottom: 1%;
    }

    p {
        font-size: 5px;
    }

    .service-item_img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }

    .identity_branding-item_text > h2 {
        font-weight: lighter;
        font-size: 17px;
    }

    .identity_branding-item_img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .skill-item_img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }

    h2 {
        font-size: 10px;
    }

    .client-items > h2 {
        text-align: center;
        font-weight: lighter;
        font-size: 18px;
    }

    .client-items > p {
        font-size: 10px;
        color: #777777;
        text-align: center;
        padding-bottom: 5%;
    }

    .client-img {
        width: 85px;
        height: 85px;
        background-color: black;
        border-radius: 100%;
    }

    blockquote {
        font-size: 6px;
        color: #777777;
        text-align: center;
    }

    footer {
        color: #7690c5;
        font-size: 6px;
    }

    .client-txt {
        width: 50%;
        background-color: white;
        border: lightgray solid 1px;
        height: 1%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 8%;
        margin-right: 10%;
    }

    .logos{
        display: none;
    }

    .team-items > h2 {
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
    }

    .team-items > p {
        font-size: 10px;
        text-align: center;
        color: #777777;
        padding-bottom: 5%;
    }

    .circle {
        width: 75px;
        height: 75px;
        border: white solid 5px;
        border-radius: 100%;
        margin: auto;
        margin-bottom: 3%;
    }

    .teamates > h2 {
        text-align: center;
        font-size: 9px;
    }

    .teamates > p {
        text-align: center;
        font-size: 6px;
        padding-bottom: 2%;
    }

    .social-profile {
        width: 20px;
        height: 20px;
    }

    .icon {
        float: left;
        margin-left: 14%;
    }

    h3 {
        font-size: 6px;
        color: #ebebeb;
        text-align: center;
        font-weight: lighter;
        padding-bottom: 10%;
    }

    .footer-item > h2 {
        font-weight: lighter;
        color: white;
        font-size: 18px;
        padding-bottom: 5%;
    }

    .footer-item > p {
        color: white;
        font-size: 7px;
        padding-bottom: 10%;
    }

    .contact-item {
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 21px;
        background-size: 7%;
    }

    input {
        width: 84px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 4px;
        margin-bottom: 2%;
    }

    textarea {
        padding-top: 0px;
        padding-bottom: 15px;
        padding-left: 6px;
        margin-bottom: 5%;
    }
}

