*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu--block{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 35px;
}

.menu--content{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.container{
	width: 70%;
	margin: auto;
}

.menu--content__part1 > h1{
	float: left;
	font-size: 44px;
	color: #325f70;
}

.menu--content__part2 > h2{
	float: right;
	color: #000a52;
	font-size: 16px;
	padding-top: 20px;
}

.search--input{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: right;
	width: 200px;
	margin-left: 20px;
	margin-top: 20px;
}

.pages--block{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000a52;
	display: flex;
	justify-content: space-between;
}

.pages--content{
	display: flex;
	justify-content: space-between;
}

.pages--content > p{
	color: white;
	font-size: 14px;
	font-family: arial;
}

.pages--content > p:hover{
	text-decoration: underline;
	cursor: pointer;
}

.more_pages--block{
	width: 100%;
	border-bottom: 2px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}

.more_pages--content{
	display: flex;
	justify-content: space-between;
}

.more_pages--content > p:hover{
	text-decoration: underline;
	cursor: pointer;
}

.more_pages--content > p{
	color: #325f70;
}

.slider--block{
	width: 100%;
	height: 360px;
	display: flex;
	justify-content: space-between;
}

.slider--content{
	width: 50%;
	height: 100%;
	float: left;
}

.slider--content > h2{
	padding-top: 90px;
	color: #325f70;
	font-size: 30px;
	font-weight: lighter;
	font-family: arial;
	padding-bottom: 30px;
}

.order--button{
	float: left;
	width: 115px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #99c873;
	color: white;
	text-align: center;
	margin-left: 75px;
	cursor: pointer;
}

.learn_more-button{
	float: left;
	width: 115px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #99c873;
	text-align: center;
	border: 1px solid #99c873;
	margin-left: 20px;
	cursor: pointer;
}

.featured--block{
	width: 100%;
	height: 675px;
	background-color: #f6fcff;
	display: flex;
	justify-content: space-between;
}

.featured--content{
	display: flex;
	justify-content: space-between;
}

.filter > h2{
	font-size: 24px;
	font-family: arial;
	color: #333333;
	padding-bottom: 35px;
	font-weight: lighter;
}

.filter > p{
	font-size: 14px;
	font-family: arial;
	color: #325f70;
	margin-top: 10px;
	transform: 0.5s;
	cursor: pointer;
}

.filter > p:hover{
	text-decoration: underline;
	cursor: pointer;
}

.filter{
	width: 20%;
}

.items{
	width: 100%;
}

.row{
	display: flex;
	justify-content: space-between;
}

.items--content{
	width: 24%;
	margin-right: 2%;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}

.items--content > p{
	font-size: 14px;
	font-family: arial;
	font-weight: lighter;
	color: #1e2934;
	padding-left: 5px;
	padding-bottom: 5px;
}

.circle_red{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: red;
	text-align: center;
	font-size: 14px;
	padding-top: 7px;
	color: white;
	font-family: arial;
	position: absolute;
	bottom: 50px;
}

.circle_orange{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: orange;
	text-align: center;
	font-size: 11px;
	padding-top: 9px;
	color: white;
	font-family: arial;
	position: absolute;
	bottom: 50px;
	left: 55px;
}


.new_items--block{
	width: 100%;
	height: 360px;
	background-color: #f8fdff;
	display: flex;
	justify-content: space-between;
}

.new_items--content{
	width: 23%;
	margin-right: 2%;
	margin-top: 20px;
	position: relative;
}

.new_items--content > p{
	font-size: 14px;
	font-family: arial;
	font-weight: lighter;
	color: #1e2934;
	padding-left: 5px;
	padding-bottom: 5px;
}

.circle_yellow{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: yellow;
	text-align: center;
	font-size: 17px;
	padding-top: 15px;
	color: white;
	font-family: arial;
	position: absolute;
	bottom: 50px;
}

.offer--block{
	width: 100%;
	height: 325px;
	padding-top: 30px;
	background-color: #f8fdff; 
	display: flex;
	justify-content: space-between;
}

.offer--content > h2{
	color: #333333;
	font-family: arial;
	font-weight: lighter;
}

.offer--content{
	display: flex;
	justify-content: space-between;
}

.week_offer--content{
	margin-top: 20px;
	width: 490px;
	height: 210px;
	border: 1px solid grey;
	background-color: white;
}

.offer-row{
	display: flex;
	justify-content: space-between;
}

.offer-row > h3{
	color: red;
	padding-top: 20px;
}

.offer-row > h2{
	color: green;
	padding-top: 5px;
	padding-bottom: 20px;
}

.special_offer--button{
	color: white;
	background-color: lightgreen;
	text-align: center;
	width: 83px;
	height: 30px;
	padding-top: 5px;
}

.special_offer--button2{
	color: lightgreen;
	background-color: white;
	text-align: center;
	width: 83px;
	height: 30px;
	padding-top: 5px;
	border: 1px solid lightgreen;
	margin-top: 10px;
}

.adv--content{
	width: 420px;
	height: 210px;
	border: 1px solid grey;
	background-color: white;
	text-align: center;
	color: grey;
	padding-top: 80px;
	margin-top: 20px;
}

.footer{
	width: 100%;
	height: 266px;
	background-color: #f8fdff;
	display: flex;
	justify-content: space-between;
}

.footer--content{
	position: relative;
}

.footer--content > h5{
	color: #325f70;
	padding-top: 120px;
}

.footer--content > h6{
	color: #648b99;
	padding-top: 10px;
	font-family: arial;
	font-weight: lighter;
	font-size: 14px;
}