*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all{
    display: none;
}

@font-face {
    font-family: krinkes;
    src: url(./font/KrinkesDecorPERSONAL.ttf);
}

@media only screen and (max-width: 750px){
    .only-mobile{
        display: none;
    }

    
    .all{
        display: block;
    }

    .burger-menu{
        width: 60px;
        height: 60px;
        cursor: pointer;
        float: left;
        margin-right: 50px;
    }

    .logo{
        font-family: krinkes;
        font-size: 50px;
    }

    .slider{
        width: 100%;
        height: 175px;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 10px;
    }

    .sale{
        height: 44%;
        padding-right: 10px;
        padding-left: 10px;
        border: 1px solid white;
        margin: auto;
        position: absolute;
        top: 50px;
        left: 40%;
    }

    .sale > h2{
        font-size: 7px;
        text-align: center;
        padding-top: 7px;
        color: white;
    }

    .sale > h3{
        font-size: 16px;
        text-align: center;
    }

    .featured-center{
        margin: auto;
        width: 100%;
        height: 166px;
    }

    .featured > h2{
        text-align: center;
        font-size: 12px;
        font-family: Arial;
        font-weight: lighter;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .featured-row_small{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2px;
    }

    .featured-item{
        background-size: 100%;
        width: 115.5px;
        height: 100px;
        position: relative;
    }

    .shop-button{
        width: 35%;
        height: 15px;
        background-color: goldenrod;
        text-align: center;
        font-size: 6px;
        color: white;
        font-family: Arial;
        font-weight: lighter;
        padding-top: 4px;
        margin: auto;
        margin-top: 60px;
        transition: .5s;
    }

    .shop-button:hover{
        background-color: #141414;
    }

    .featured-item_big{
        width: 122.5px;
        height: 202px;
        float: left;
        margin-right: 2px;
        margin-left: 2px;
    }

    .summer-collection{
        width: 100%;
        height: 200px;
    }

    .summer-collection_row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }

    .summer-collection_item{
        width: 100%;
        height: 99px;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
    }

    .addtocard{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        background-color: black;
        opacity: 0.5;
        color: white;
        font-size: 10px;
        text-align: center;
        padding-top: 4px;
        cursor: pointer;
        transition: .5s;
    }

    .summer-collection_item:hover .addtocard{
        opacity: 1;
    }

    .summer-collection > h2 {
        text-align: center;
        font-size: 12px;
        font-family: Arial;
        font-weight: lighter;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .our-brand > h2{
        text-align: center;
        font-size: 12px;
        font-family: Arial;
        font-weight: lighter;
        padding-top: 65px;
        padding-bottom: 15px;
    }

    .our-brand-item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .brand-logo{
        float: left;
        width: 50px;
        height: 50px;
    }
}